In [4]:
from sklearn.metrics import  accuracy_score,confusion_matrix,precision_score,recall_score,f1_score
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression

In [5]:
df=pd.read_csv('titanic.csv')

In [6]:
print(df.shape)

(887, 8)

In [7]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [9]:
labelencoder=LabelEncoder()

df[['Sex']]=labelencoder.fit_transform(df[['Sex']])
df[['Survived']]=labelencoder.fit_transform(df[['Survived']])
df[['Siblings/Spouses Aboard']]=labelencoder.fit_transform(df[['Siblings/Spouses Aboard']])
df[['Parents/Children Aboard']]=labelencoder.fit_transform(df[['Parents/Children Aboard']])
df[['Fare']]=labelencoder.fit_transform(df[['Fare']])

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [11]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

In [12]:
X=df[['Pclass','Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare']]
Y=df[['Survived']]

In [13]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,1,22.0,1,0,18
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,0,38.0,1,0,207
2,1,3,Miss. Laina Heikkinen,0,26.0,0,0,41
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,0,35.0,1,0,189
4,0,3,Mr. William Henry Allen,1,35.0,0,0,43

In [40]:
model=LogisticRegression()
x_train,x_test,y_train,y_test=train_test_split(x_scaled,Y,test_size=0.2)

model.fit(x_train,y_train)
preds=model.predict(x_test)

D:\anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [41]:
print(f"Accuracy Score={accuracy_score(y_test,preds)}")
print(f"Precision Score={precision_score(y_test,preds)}")
print(f"Recall Score={recall_score(y_test,preds)}")
print(f"F1 Score={f1_score(y_test,preds)}")
print(f"Confusion Matrix={confusion_matrix(y_test,preds)}")

Accuracy Score=0.8258426966292135
Precision Score=0.7580645161290323
Recall Score=0.746031746031746
F1 Score=0.752
Confusion Matrix=[[100  15]
 [ 16  47]]